* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 1320px;
  margin: auto;
}
.clearfix{
  content:"";
  display: table;
  clear: both;
}
.float-l{
  float:left;

}
.float-r {
  float: right;
  line-height: 60px;
}
header {
  width: 100%;
  color: white;
  background-color: #0c325a;

}
nav {
  height: 60px;
  width: 100%;
}
.logo{
  padding: 0 60px 0 40px;
}
ul li{
 display: inline-block;
 padding: 0 7px;
}
ul li a {
  text-decoration: none;
  color: white;

}
span a{
  text-decoration: none;
  padding: 0 0 0 80px;
  color: white;

}
.buttons{
  margin-left: 2px;
}
.button {
  margin: 0 5px;
  padding: 5px 20px;
  border-radius: 7px 7px;
}
.login{
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
.piano{
  color: white;
  border: 0;
  background-color: #95c833;
}
.copertina {
  height: 400px;
  width: 100%;
  background-image: url(img/copertina.png);
  background-position: right;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
}
h1 {
  text-align: left;
  font-size: 50px;
  width: 500px;
  position: absolute;
  top: 80px;
  left: 70px;
}
.pos{
  position: absolute;
  top:230px;
  left: 70px;
  padding: 20px;
}
.sottocopertina{
  height: 120px;
  background-color: #d3d3d3;
  text-align: center;
  position: relative;
}

.sottocopertina > div > span {
  font-size: 25px;
  color: black;
  position: absolute;
  top: 35px;
  left: 400px;
}
#sottotitolo {
  font-size: 17px;
  color: gray;
  margin-top: 15px;
  position: absolute;
  top: 60px;
  left: 350px;
}
.colonna{
  height: 500px;
  width: 100%;
}
.box {
  width: 30%;
  height: 100%;
  margin-left: 30px;
  background-color: white;
}
.img{
  height: 100%;
}
.img-box{
  height: 25%;
  text-align: center;
  margin: 25px auto;
}
.titolo {
  width: 75%;
  font-size: 25px;
  color: #95c833;
  margin: auto;
  text-align: center;
}
.text{
  width: 75%;
  margin: auto;
  text-align: center;
  color: gray;
}
.separatore {
  height: 1px;
  width: 20%;
  border: 1px solid gray;
  margin: 10px  auto;
}
